<?xml version="1.0" encoding="UTF-8"?>
<root framework="hibernate,struts2">
	<pojo>
		<pojoPackage>com.linzaixian.bean</pojoPackage>
	</pojo>
	<dao>
		<daoPackage>com.linzaixian.dao</daoPackage>
	</dao>
	<service>
		<servicePackage>com.linzaixian.service</servicePackage>
	</service>
	<config>
		<mybatisPath>classpath:mybatis.xml</mybatisPath>
		<springPath>classpath:spring.xml</springPath>
		<springMVCPath>classpath:springMVC.xml</springMVCPath>
		<springScanPath>classpath:springScan.xml</springScanPath>
		<path>e:/linzaixian</path>
		<dataPool>druid</dataPool>
		<type>bs</type>
	</config>
	<controller>
		<controllerPackage>com.linzaixian.action</controllerPackage>
		<controllerSuffix>do</controllerSuffix>
	</controller>
	<interceptor>
		<interceptorClassName>MyInterceptor</interceptorClassName>
		<interceptorPackage>com.linzaixian.interceptor</interceptorPackage>
	</interceptor>
	<web>
		<js>
			<jsPath>/js</jsPath>
		</js>
		<view>
			<prefix>/WEB-INF/view/</prefix>
			<suffix>.ftl</suffix>
			<errorView>error</errorView>
		</view>
	</web>
	<sql sqlType="mysql">
		<mysql>
			<driver>com.mysql.jdbc.Driver</driver>
			<url>jdbc:mysql://localhost:3306/test</url>
			<username>root</username>
			<password>123456</password>
			<format_sql>false</format_sql>
			<dialect>org.hibernate.dialect.MySQL5Dialect</dialect>
			<show_sql>true</show_sql>
			<hbm2ddl>none</hbm2ddl>
		</mysql>
	</sql>
</root>