<?xml version="1.0" encoding="UTF-8"?>
<root framework="spring,hibernate,struts2">
	<pojo>
		<pojoPackage>com.bluedon.bsmon.bean</pojoPackage>
	</pojo>
	<dao>
		<mapperPackage>com.bluedon.bsmon.dao</mapperPackage>
	</dao>
	<service>
		<servicePackage>com.bluedon.bsmon.service</servicePackage>
	</service>
	<config>
		<mybatisPath>classpath:mybatis.xml</mybatisPath>
		<springPath>classpath:spring.xml</springPath>
		<springMVCPath>classpath:springMVC.xml</springMVCPath>
		<springScanPath>classpath:springScan.xml</springScanPath>
		<path>e:/text2</path>
	</config>
	<controller>
		<controllerPackage>com.bluedon.bsmon.action</controllerPackage>
		<controllerSuffix>do</controllerSuffix>
	</controller>
	<interceptor>
		<interceptorClassName>MyInterceptor</interceptorClassName>
		<interceptorPackage>com.bluedon.bsmon.interceptor</interceptorPackage>
	</interceptor>
	<web>
		<js>
			<jsPath>/js</jsPath>
		</js>
		<view>
			<prefix>/WEB-INF/view/</prefix>
			<suffix>.ftl</suffix>
			<errorView>error</errorView>
		</view>
	</web>
	<sql sqlType="mysql">
		<mysql>
			<driver>com.mysql.jdbc.Driver</driver>
			<url>jdbc:mysql://localhost:3306/test</url>
			<username>root</username>
			<password>123456</password>
			<format_sql>false</format_sql>
			<dialect>org.hibernate.dialect.MySQL5Dialect</dialect>
			<show_sql>true</show_sql>
			<hbm2ddl>none</hbm2ddl>
		</mysql>
		<postgresql>
			<driver>org.postgresql.Driver</driver>
			<url>jdbc:postgresql://172.16.2.103:5432/jfinalbbs?charSet=utf-8</url>
			<username>postgres</username>
			<!-- <password>12345)(*&amp;^%RFVwsx</password> -->
			<password>12345)(*&amp;^%RFVwsx</password>
			<format_sql>false</format_sql>
			<dialect>org.hibernate.dialect.PostgreSQLDialect</dialect>
			<show_sql>true</show_sql>
			<hbm2ddl>none</hbm2ddl>
		</postgresql>
	</sql>
</root>